[submodule "v3-api"]
        path = v3-api
        url = https://github.com/peeyush-tm/v3-api

[submodule "v3-docs"]
        path = v3-docs
        url = https://github.com/peeyush-tm/v3-docs

[submodule "v3-rnd"]
        path = v3-rnd
        url = https://github.com/peeyush-tm/v3-rnd

[submodule "v3-client"]
	path = v3-client
	url = https://github.com/peeyush-tm/v3-client.git
